@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin breakpoint($breakpoint, $direction) {
	@if map-has-key($breakpoints, $breakpoint) {
		$breakpoint-value: map-get($breakpoints, $breakpoint);

		@if $direction == max {
			@media (max-width: ($breakpoint-value - 1)) {
				@content;
			}
		} @else if $direction == min {
			@media (min-width: $breakpoint-value) {
				@content;
			}
		} @else {
			@media ($direction: $breakpoint-value) {
				@content;
			}
		}

		// If the breakpoint doesn't exist in the map.
	} @else {
		@if $direction == max {
			@media (max-width: $breakpoint) {
				@content;
			}
		} @else if $direction == min {
			@media (min-width: $breakpoint) {
				@content;
			}
		} @else {
			@media ($direction: $breakpoint) {
				@content;
			}
		}
	}
}
