.o-card-grid {
	display: grid;
	grid-template-columns: repeat(1, minmax(150px, 400px));
	grid-auto-rows: 1fr;
	grid-gap: 30px;
	justify-content: center;
	padding: 30px;

	@include breakpoint(xs, min) {
		@include breakpoint(sm, max) {
			padding: 20px;
			grid-gap: 20px;
			grid-template-columns: repeat(2, minmax(150px, 300px));
		}
	}

	@include breakpoint(sm, min) {
		grid-template-columns: repeat(3, minmax(150px, 300px));
	}
}
