.btn {
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 40px;
	padding: 12px 21px;
	color: rgb(255, 255, 255);
	font-size: 18px;
	cursor: pointer;
	@include transition(background-color 0.3s, color 0.3s);
	
	&:focus {
		outline: 0;
	}

	&.active,
	&:hover {
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
	}
}
