.m-card {
	display: flex;
	width: 100%;
	height: 225px;
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	box-shadow: 2px 2px 0 $card-shadow;

	&:hover {
		&:before,
		.m-card__text-group {
			opacity: 1;
		}
	}

	&:before {
		content: '';
		background-color: rgba(0, 0, 0, 0.35);
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;

		@include transition(0.2s opacity ease-in-out);
	}

	img {
		object-fit: cover;
		width: 100%;
	}

	.m-card__text-group {
		opacity: 0;
		color: rgb(255, 255, 255);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include transition(0.2s opacity ease-in-out);

		strong {
			font-size: 19px;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
			text-align: center;
			padding: 0 15px;
			overflow: hidden;
		}

		em {
			font-size: 18px;
			padding: 0 15px;
			text-align: center;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;  
			overflow: hidden;
			word-break: break-all;
		}

		.btn {
			position: absolute;
			bottom: 18px;
		}
	}

	.m-card__text-group-divider {
		background: rgb(255, 255, 255);
		width: 75px;
		height: 2px;
		margin: 8px 0;
	}
}
